In [1]:
import numpy as np
import pandas as pd
import re

## Exercise 1
Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.

In [113]:
loan_lenders = pd.read_csv('Data/loans_lenders.csv')
loan_lenders.head()

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

In [114]:
loan_lenders['lenders'] = loan_lenders['lenders'].str.split(',\s')

In [110]:
loan_lenders = loan_lenders[:5000]

In [117]:
norm = pd.DataFrame(columns=['loan_id','lenders'])  
norm = norm.append([dic for i in [[{'loan_id':loan_lenders['loan_id'][row],'lenders':l} for l in loan_lenders['lenders'][row]] for row in range(len(loan_lenders))] for dic in i],ignore_index = True)

In [120]:
norm.to_csv('Data/norm_loan_lenders.csv')

# Exercise 2
For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time.

# Exercise 3
Find the lenders that have funded at least twice.

In [140]:
a = norm.groupby('lenders').count() > 1
list(a[a['loan_id']== True].index)

TypeError: '>' not supported between instances of 'bool' and 'str'

# Exercise 4
For each country, compute how many loans have involved that country as borrowers.

# Exercise 5
For each country, compute the overall amount of money borrowed.

In [12]:
loans = pd.read_csv('Data/loans.csv')

In [13]:
money_per_country = loans.groupby('country_name')['funded_amount'].sum()

In [21]:
money_per_country

country_name
Afghanistan        1964650.0
Albania            3992475.0
Armenia           20284675.0
Azerbaijan        14191350.0
Belize              150175.0
                     ...
Vietnam           23463825.0
Virgin Islands           0.0
Yemen              3340025.0
Zambia             1913250.0
Zimbabwe           5818550.0
Name: funded_amount, Length: 96, dtype: float64

# Exercise 6
Like the previous point, but expressed as a percentage of the overall amount lent.

In [24]:
loans[loans['funded_amount'] != loans['loan_amount']][['funded_amount','loan_amount']]
#Which one is which? I'll pick the lower one!

         funded_amount  loan_amount
22               100.0        225.0
25               225.0        300.0
36               425.0       1000.0
46               275.0        875.0
50               325.0       1200.0
...                ...          ...
1419525          125.0        225.0
1419538          600.0       3000.0
1419545          725.0       1025.0
1419564           50.0       8750.0
1419579          350.0        700.0

[64291 rows x 2 columns]

In [46]:
money_per_country_percentage = loans.groupby('country_name')['funded_amount'].sum() \
                             / loans.groupby('country_name')['loan_amount'].sum() * 100
money_per_country_percentage

country_name
Afghanistan        99.832313
Albania            92.689821
Armenia            88.384554
Azerbaijan         95.987216
Belize            100.000000
                     ...
Vietnam            95.067987
Virgin Islands      0.000000
Yemen              96.980981
Zambia             96.678836
Zimbabwe           99.430524
Length: 96, dtype: float64

# Exercise 7
Like the three previous points, but split for each year (with respect to disburse time).

# Exercise 8
For each lender, compute the overall amount of money lent.

# Exercise 9
For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

# Exercise 10
Which country has the highest ratio between the difference computed at the previous point and the population?

# Exercise 11
Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

# Exercise 12
For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.

# Exercise 13
For each value of repayment_interval, add a new column to the lenders dataframe that contains the total amount of money corresponding to loans in such state

# Exercise 14
What is the occupation with the highest average amount of money lent (the average must be computed over all lenders with a given occupation)?

# Exercise 15
Cluster the loans according to the year-month of disburse time.

# Exercise 16
For each country, compute its overall GDP, by multiplying the per capita GDP with its population.

# Exercise 17
Find the country with the highest rate of irregular repayment interval.

# Exercise 18
Find the country with the highest fraction of loaned amount with irregular repayment interval.

# Exercise 19
For each lender, estimate the total amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.