In [266]:
import numpy as np
import pandas as pd
import re
import matplotlib as mp
import random

## Exercise 1
Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.

In [28]:
loan_lenders = pd.read_csv('Data/loans_lenders.csv')
loan_lenders.head()

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

In [52]:
loan_lenders['lenders'] = loan_lenders['lenders'].str.split(',\s')

In [4]:
prova = loan_lenders[:5000]

In [117]:
norm = pd.DataFrame(columns=['loan_id','lenders'])  
norm = norm.append([dic for i in [[{'loan_id':loan_lenders['loan_id'][row],'lenders':l} for l in loan_lenders['lenders'][row]] for row in range(len(loan_lenders))] for dic in i],ignore_index = True)

In [29]:
norm.to_csv('Data/norm_loan_lenders.csv',columns = ['loan_id','lenders'])

NameError: name 'norm' is not defined

# Exercise 2
For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time.

# Exercise 3
Find the lenders that have funded at least twice.

In [141]:
lenders_twice = norm.groupby('lenders').count() > 1
list(lenders_twice[lenders_twice['loan_id'] == True].index)

['000',
 '00000',
 '0002',
 '0101craign0101',
 '0132575',
 '0154884',
 '0161130',
 '0169713',
 '0185429',
 '0197462',
 '0206338',
 '0219854',
 '0221581',
 '0239059',
 '0245597',
 '0256321',
 '0265562',
 '0279282',
 '0288537',
 '0295920',
 '0307987',
 '0321212',
 '0326lsw',
 '0332772',
 '0346439',
 '0353400',
 '0367630',
 '0376099',
 '0384195',
 '0393784',
 '0407067',
 '0416503',
 '0422888',
 '0432352',
 '0443760',
 '0457584',
 '0462602',
 '0473787',
 '0483421',
 '0499990',
 '0509115',
 '0511209',
 '0526528',
 '0545998',
 '0554687',
 '0561575',
 '0579150',
 '0589889',
 '0595846',
 '0609725',
 '0614925',
 '0626305',
 '0634944',
 '0648612',
 '0653266',
 '0672816',
 '0684667',
 '0693181',
 '0703092',
 '070707Weddingtablegifts',
 '0711782',
 '0723706',
 '07272010',
 '0739360',
 '0743222',
 '0755154',
 '0764579',
 '0779467',
 '0786145',
 '0797268',
 '07brit08',
 '0802769',
 '0816',
 '0819212',
 '0822911',
 '0844736',
 '0854755',
 '0858539',
 '0868635',
 '0878881',
 '0894610',
 '0902841',
 '0919677',
 '0925751',
 '0934608',
 '0946122',
 '0959967',
 '0966668',
 '0983056',
 '0993353',
 '0bill9808',
 '0lauramelania9158',
 '0li',
 '0rchidhunter',
 '0x04b1d',
 '0x12is18',
 '0xfed0',
 '1000trucosparaahorrar',
 '1006825',
 '100ofhumanity1199',
 '100thmonkey',
 '1019503',
 '101cookbooks',
 '10416122',
 '1044908',
 '1056077',
 '1066322',
 '106xin',
 '107496',
 '1082',
 '1082930',
 '1096',
 '1098802',
 '10commfhs7013',
 '10gis',
 '10ksbwinter20123747',
 '10yearitch',
 '1113032',
 '11220',
 '1122chelsea',
 '1128903',
 '113760',
 '114130',
 '114195',
 '1144046',
 '117571',
 '11eleventrust5576',
 '11familymembers',
 '11kenski',
 '11lindsaydo',
 '11thfloor6074',
 '121434',
 '121gym',
 '123321',
 '123ryan321',
 '12geoclass2112',
 '12inge2882',
 '12thgrade7044',
 '1300home7525',
 '13131',
 '1396',
 '13fish4268',
 '13marcin',
 '14406055',
 '14492067',
 '14777508',
 '159O',
 '15friends',
 '165thrangers7285',
 '16thsummer',
 '1731872',
 '173rdairbornebrigade',
 '1800',
 '184434829250',
 '18492635',
 '1880company',
 '18th6735',
 '1904justin',
 '192days',
 '193coffeehouse4713',
 '1944',
 '1961',
 '1968',
 '1979',
 '1987RDD',
 '19alex',
 '1angel',
 '1eyedbunny',
 '1ghostorchid',
 '1god1love1life',
 '1hazelnut',
 '1in7billion',
 '1iv',
 '1luckytexan5442',
 '1nottus1',
 '1plusnet1470',
 '1practicalgal',
 '1r1727',
 '1rayserra',
 '1stgenerationmav1',
 '1stparishkingstonuu4149',
 '1stperiodsoc20086592',
 '1tpab3926',
 '1x1sport',
 '2000world',
 '2007',
 '2008',
 '2008globalmarketin1717',
 '2009',
 '2010',
 '2012peter',
 '2012youthphilantropy1394',
 '2014davidharris',
 '2015unisgrade83198',
 '20162200',
 '2017healthchallenge',
 '20226206',
 '20233a8100',
 '20233c8252',
 '2042',
 '208Software1320',
 '212Tech',
 '212group2172',
 '2184',
 '218938',
 '2210',
 '2213',
 '222',
 '2352345s',
 '2585',
 '25894',
 '259thbrownies3058',
 '25LTuesdays',
 '25perday',
 '26308170',
 '2683',
 '2773',
 '28282828',
 '2838655',
 '29534672',
 '29b2a40540a50fa2',
 '2Adorablefeet',
 '2Fish',
 '2NDIINONE',
 '2SH',
 '2apes9008',
 '2checkout',
 '2composers',
 '2guard',
 '2humanbeans',
 '2j3l',
 '2katalytic',
 '2muchco2',
 '2n2r5',
 '2ndcenterolson7814',
 '2ndhour5366',
 '2ndhoursociology7273',
 '2ndskiesforex',
 '2nicolai',
 '2paths',
 '2sweetboys3140',
 '2ticketspls',
 '2webdesign',
 '2woflatwhites7952',
 '30339028',
 '3055',
 '306girls',
 '31337',
 '31415926',
 '3224',
 '32paws',
 '3315',
 '3358',
 '33w8204',
 '345656',
 '34moserhumanities1624',
 '355698',
 '35thtoronto7619',
 '360pi',
 '36699979687468054',
 '369',
 '37people',
 '3K1M',
 '3Katz',
 '3bean',
 '3beditions',
 '3boyz6326',
 '3c3955',
 '3d7013',
 '3dd13',
 '3dpropsnl',
 '3emad',
 '3pcmedia',
 '3rdhourworldhistory9154',
 '3rdplanet',
 '3rdresolutionarychal4584',
 '3ric',
 '3sisters3',
 '3sisters7249',
 '3tdoan',
 '3todd',
 '404',
 '405media',
 '40NewHappy',
 '41432514',
 '4270',
 '4333792',
 '4406',
 '441nw8926',
 '4435',
 '456425978442',
 '457khz',
 '457visacomared',
 '45cakes6304',
 '47278252',
 '4729',
 '4740',
 '48crash',
 '4919',
 '4Health',
 '4Peace5376',
 '4TheWorldToC',
 '4apes3869',
 '4bubz',
 '4carrie5927',
 '4feet2mouths',
 '4j4',
 '4k6089',
 '4k6651',
 '4kaps',
 '4karen7294',
 '4mh4111',
 '4payingit4ward',
 '4thgradegirlscout5354',
 '4thgraders9952',
 '4thhour1164',
 '4thhoursociology1891',
 '4thhoursociology2370',
 '4walls',
 '4will',
 '4wisemonkeys8026',
 '500moa',
 '5011wireless',
 '501class2585',
 '5156',
 '5318',
 '55935889',
 '562947',
 '5661401',
 '576rion',
 '5774',
 '5825',
 '58589807',
 '587ministries',
 '59906450',
 '5Js',
 '5apes4625',
 '5bhelpers',
 '5d7949',
 '5errr',
 '5fhsps2016',
 '5friends3513',
 '5lenks',
 '5lim5',
 '5meteorilaskole5846',
 '5so2452',
 '5thgrade2406',
 '5thhoursociology1643',
 '5thhoursociology9061',
 '61528401',
 '6530',
 '6EQJ5',
 '6byis',
 '6c8430',
 '6cextended',
 '6dt',
 '6g3790',
 '6gscotch2848',
 '6r5406',
 '6r6492',
 '6thgrade6415',
 '6thgradebannockburn7652',
 '6thgrademarshalls7548',
 '6thhourworldhistory6689',
 '6thperiodwillard5852',
 '6vs8491',
 '6w4542',
 '6w7355',
 '70722017',
 '713',
 '71ogden3057',
 '720socialstudiesclas6601',
 '738374668',
 '7421',
 '7440',
 '746416431',
 '7469',
 '76897937',
 '7767',
 '777',
 '77chrissarah',
 '789c4465',
 '7b2015165641',
 '7b4055',
 '7bjoern',
 '7ceh7334',
 '7enmmt5774',
 '7green',
 '7hills7404',
 '7hills9777',
 '7iwpod9890',
 '7jvhxx2620',
 '7katz',
 '7kmpgq7529',
 '7l1987',
 '7l2015169505',
 '7m7558',
 '7m7968',
 '7mxxvq7075',
 '7n2877',
 '7p1519',
 '7p8461',
 '7pjwee7141',
 '7pliie8883',
 '7r3y',
 '7redoms5553',
 '7s2746',
 '7semkn3011',
 '7snqc6612',
 '7th3746',
 '7thgrade5968',
 '7thgrade9287',
 '7thgradebannockburn5491',
 '7thgradeclass3942',
 '7thgradeclass5175',
 '7thgradegeographycla5838',
 '7thgradestudentsi2277',
 '7thhoursociology7416',
 '7thperiod9197',
 '7thperiodspanishc3923',
 '7y7025',
 '7yler',
 '800cart',
 '800service',
 '8012',
 '8024693',
 '805collective2670',
 '808sylvia',
 '80Anthony',
 '8198',
 '82953321',
 '82abhilash',
 '8375',
 '84em',
 '863leighanne6652',
 '8646',
 '879447',
 '888',
 '89632matthew9666',
 '8964',
 '8Dave',
 '8cohec7874',
 '8e1gwsc13',
 '8inchelephant',
 '8iriwy4848',
 '8isocialstudies9100',
 '8jnsnh8124',
 '8milan4584',
 '8ptheyorkschool6615',
 '8thgradefr2074',
 '8vdzes4315',
 '907tc',
 '9112',
 '9250',
 '93504051',
 '9356',
 '94704',
 '9537',
 '9678',
 '97179',
 '9858',
 '9880',
 '98kakara',
 '9976',
 '9999',
 '9999inma',
 '99matt',
 '99project',
 '9aklltorp2167',
 '9b2051',
 '9e19e220129141',
 '9faraz',
 '9fpxfe7687',
 '9giraf7813',
 '9hbaws1320',
 '9heuns8405',
 '9humwsc',
 '9icdf9018',
 '9iynto9824',
 '9l8118',
 '9morcom1367',
 '9thCirclePhoto',
 '9thgradersnicoll4813',
 '9thwardymyw2285',
 '9uillaume',
 '9ycmk8783',
 '9yearmarch5123',
 'ACHAIAH',
 'ACUSIFE',
 'AD8484',
 'ADW',
 'AEG',
 'AEMW',
 'AESwave',
 'AF4933',
 'AHHA',
 'AISoftware',
 'AJ3898',
 'AJK9491',
 'ALkungfu',
 'AMfamilyfund',
 'AMokashi',
 'AND',
 'APB',
 'APRM',
 'APWeller',
 'AQW',
 'ARou',
 'ARzag14',
 'ASKobayashi',
 'ASLKivaYouthGroup',
 'ASVyas512',
 'AStonesThrow',
 'AUSTRALIANVISAGROUP',
 'AWhelan',
 'AZAM',
 'Aaiiit',
 'AaronGLind',
 'AaronRoth',
 'AaronV',
 'AaronandRachael',
 'AaronandVeronica',
 'AbdAllah',
 'AboveTheInfluence',
 'Abuliyes',
 'Acts4',
 'AdamAnt',
 'AdamCohn',
 'AdamPerkins',
 'AdamPollicino',
 'AdamovskisKraus',
 'AdasoProductions',
 'Adeel',
 'Adjwilley',
 'AdminConsultants',
 'AdrienneNoel',
 'Adrion',
 'Aerials',
 'AgniPakshi',
 'Aileen0926',
 'AirZero',
 'Akjosh7676',
 'AlHoefer',
 'AlainaMakesADifference',
 'AlanG',
 'AlanMimms',
 'Albatechnologies',
 'Albertoism',
 'Albright',
 'AlcubierreWarp',
 'AlexE',
 'AlexKirby',
 'AlexTaraFin',
 'AlexanderDSM',
 'AlfredT',
 'AliKira',
 'Alimaria',
 'Alishahndra',
 'AlisonWolf',
 'Allan1183',
 'Allan9400',
 'AllanJ',
 'AllanSchmidt',
 'AllenGregoryIV',
 'AllenSpicer',
 'Alli3096',
 'Alonzo',
 'AlphaScore',
 'Alsdorf',
 'Alston',
 'AlvaroT',
 'AlysiaandScott',
 'AmandaG',
 'Amarnatz1692',
 'Amayzing',
 'AmnestyInternationalMHS',
 'AmyMagnuson',
 'AmyOliveWarner',
 'AmyandAndrew',
 'AnaFrancisco',
 'AnalayRicci',
 'Anayah9514',
 'Anchor02271967',
 'AndAboutTimeToo',
 'AndiAlly',
 'Andrea7011',
 'AndreaJasonArnold',
 'AndreaTheNerd',
 'Andreaseriksson',
 'AndreiM',
 'AndresT8214',
 'Andrew7180',
 'AndrewDergousoff',
 'AndrewDlugan',
 'AndrewKorolchuk',
 'AndrewR',
 'AndrewWindham',
 'AndyBobHill',
 'AndyCompton',
 'AndyEdric',
 'AndyM',
 'AngelPartner',
 'Angela1984',
 'AngelaTiseo',
 'Angelika',
 'Angie0121',
 'AngryDad',
 'AnitaPeron',
 'Anjapalle',
 'AnnMarieCordia',
 'Anna219',
 'AnnaJMcDougall',
 'AnnaK',
 'AnnaT',
 'Annej',
 'AnonymousV',
 'AnthonyMitchell',
 'AnthoulaGuillaume',
 'AntonBaker',
 'Antonin',
 'AntonioSaraiva',
 'Appelsapientje',
 'AquaLunar2',
 'ArchFluffy',
 'ArielIanMicrofinancing',
 'Ariyanna',
 'ArmenianGuy',
 'ArtBushkin',
 'ArtemisMX6',
 'ArthurA',
 'ArthurGuy',
 'ArunC',
 'Ascheman',
 'AshAtBettrAt',
 'AshRose',
 'Ashas',
 'Ashby024543368',
 'AshleyElle',
 'AshleyandTrumon',
 'AshtonH',
 'Aspot',
 'Astrid1978',
 'AstridVanDerVleut',
 'Astrogirl',
 'AsturiesConBici',
 'AtheistMonkey',
 'AtoZ',
 'AuroraMedina',
 'AussieDingo1983',
 'Aussieschoolfriends',
 'AustinAni',
 'Autolycus',
 'AvalexEnterprises',
 'AvatarTeas',
 'AvenueJ',
 'Avicennasis',
 'AyamiTogari',
 'Ayyad',
 'BASS',
 'BAUNetwork',
 'BCOR',
 'BDRhodes',
 'BEARCREEKNHS',
 'BEE780',
 'BFC',
 'BJAlicia',
 'BKRM',
 'BLESSED1',
 'BLandever',
 'BPAAdmin',
 'BPGL',
 'BSAJRB',
 'BSH',
 'BWTjacob',
 'BabS',
 'Babelfroggy',
 'BabyILoveYou',
 'BabyXE',
 'Back2Basics',
 'Baconkids',
 'BadAndy',
 'BagChemistry',
 'BaiaVieira',
 'BaileyNC',
 'Bananas',
 'BareTree',
 'BarefootMBA',
 'BarhamVA',
 'BarnabasWorldWide',
 'Barnez01',
 'BaronessCN',
 'Barryfamily',
 'BasiaOlej',
 'Bastelseiten',
 'BayShoreModelUN',
 'BearsCare',
 'BeccaMo',
 'Becsie',
 'BeeFamily88',
 'BeingThere',
 'BellaLena',
 'Bema',
 'Ben11',
 'Benicia15104710',
 'BenjaminWolfe',
 'Benoit4721',
 'Bensmith',
 'BernhardHerder',
 'Berry5964',
 'BethannRebecca',
 'BethanyK8',
 'BettezFamily',
 'BevakaUpphandling',
 'Bevin',
 'Bhardwaj',
 'Biats',
 'Bibliophylax',
 'BigBoss',
 'BigEntertainment',
 'BigMattyQ',
 'Bigdud73',
 'Bijan',
 'Bill5037',
 'BillChris1739',
 'BillandJamie',
 'BillionareUncle',
 'BillyAndCherie',
 'Birdman',
 'Birkus',
 'Bixente',
 'BlackBeretToday',
 'BlackwoodProductions',
 'BlakeHanson',
 'BlakeLarson',
 'Blatchford',
 'BlessedtobeaBlessing',
 'Blooki',
 'BlueDagger',
 'BobDethlefsen',
 'Bobbu',
 'BobbyO',
 'BogTrotBob',
 'BomByut',
 'Bona5961',
 'BonesAires',
 'BoniMaroni667',
 'BontempiBoy',
 'BooleanEarth',
 'Bopardikar',
 'BoscoH',
 'BostonAustinNYCLenders',
 'BostonDalia',
 'Botra',
 'Bpp13',
 'BradS',
 'BradThinksYourMomIsHot',
 'BradleyBelisle',
 'BradleyT',
 'Brak',
 'BrandonBuchanan',
 'Breeze',
 'Brendan3630',
 'Brendan863694',
 'BrettD',
 'Brian1223',
 'BrianFluno',
 'BrianJohnson',
 'Brielle2199',
 'BrightBooks',
 'BrightEyesBigSmiles',
 'BroderWriter',
 'Broobies',
 'BrosiusFamily',
 'BruceHelping',
 'BruceMiyaTaiyo',
 'BruceXIXI',
 'BryanMain',
 'Brylock',
 'BuYousef',
 'Buckoclown',
 'Bud',
 'BudgenFamily',
 'Buffy2005',
 'BunchODudes',
 'Burdick64',
 'Bus',
 'BusinessFunder',
 'ButtUglySweaters',
 'CARMC',
 'CAT',
 'CAtoHI',
 'CCP',
 'CDCPhillips',
 'CEC',
 'CGTextures',
 'CIF',
 'CJCshalom',
 'CJG',
 'CJforGood',
 'CKJ411',
 'CKP2',
 'CLChang',
 'CLR',
 'CNSF',
 'COM100ABPhoenixCollege',
 'CPB',
 'CRL',
 'CSS6310',
 'CTiV',
 'CUMFclub',
 'Cade0503',
 'CadominChris',
 'CaitlinScarlet',
 'Calgary',
 'CaliforniaKids',
 'CallMeWilliam',
 'CalleSiren',
 'CalvinLawson',
 'CameronLoans',
 'Cammy',
 'CamoJ',
 'CampfireDan',
 'Cannon0811',
 'CanterburyEcon',
 'CapeCatherine',
 'Capitalist',
 'CaptCarrot',
 'Care4theworld',
 'Caritas',
 'Carnie',
 'CarolGerrish',
 'Carrytrader',
 'CarterJensen',
 'CaseyA',
 'CaseyAtRagtimes',
 'CaseyH1963',
 'CaseyJones',
 'CassiesCritters',
 'CatLover',
 'CatcherGoneAwry',
 'CatherineTheLender',
 'CautiousOptimist',
 'Cawlfield',
 'Cedric5004',
 'CeliaAndDaniel',
 'Celynnengiving',
 'CementTruck',
 'Centradex',
 'CerebralPrimate',
 'CesarMario',
 'ChandraWilson',
 'Chantalina',
 'Chapple34',
 'CharMag',
 'Charitha',
 'CharleneBlacer',
 'Charles9163',
 'CharlesWesley',
 'CharlieAtCisco',
 'CharlieO',
 'ChavezRuizFamily',
 'Chazzyd',
 'CheLucero',
 'Cheergirlie92',
 'Chefmc',
 'ChelleSum',
 'ChesterandShana',
 'ChezProvence',
 'Chezsmithy',
 'ChicMom',
 'ChicagoCeC',
 'ChicagoDan',
 'ChipTheRed',
 'ChiroHealth',
 'ChloeButler',
 'ChosenOne',
 'Chris3418',
 'Chris5205',
 'Chris78',
 'Chris79',
 'Chris9990',
 'ChrisAndLogan',
 'ChrisAndMandy',
 'ChrisMcCarthy',
 'ChrisRomp',
 'ChrisSylvia',
 'ChrisfromtheUSA',
 'ChristinaFromLondon',
 'Christine2Lin',
 'ChristineRose',
 'ChristmastClan',
 'ChristophHewett',
 'ChristopherCrosby',
 'ChristopherHarrison',
 'ChristopherScholten',
 'ChuckBettyKuhn',
 'Cideridies',
 'CindersOKC',
 'CindyBaldwin',
 'CindyL',
 'CindyinTO',
 'CinnamonCrane',
 'CitiesSaveTheEnvironment',
 'Citizenbushido',
 'Claessens',
 'ClaireandJeremy',
 'Classof70StGeorges',
 'ClaudiaLuna',
 'Clea',
 'ClearBlueSky',
 'Clemsonpilot',
 'CleverSheep',
 'ClifBar',
 'CloudVO',
 'Clubbers',
 'CoLa',
 'ColdBear',
 'Coleva',
 'Colin9783',
 'Colt6615',
 'CommanderRikker',
 'CommunicaONE',
 'ComputerNerds',
 'ConductorRob',
 'CongoBongo7397',
 'ConorB',
 'Conrad',
 'ContrailsOverBoston',
 'Cooper',
 'Coopers5186',
 'Coopertexas',
 'Cora1989',
 'Corbett2',
 'CouponTrade',
 'CourtneyTovah',
 'Cowin091010',
 'CraigAndRosie',
 'CraigC',
 'Crashh',
 'CriminalDefence',
 'CrisTeixeira217',
 'CriticalPowerSupplies',
 'CrowDigitalMedia',
 'CuetoLawGroup',
 'CyAnne',
 'CyberDragon',
 'Cybergaukler',
 'Cyberinkblot',
 'DACooper',
 'DAJames',
 'DARTresearchKP',
 'DATAFORT',
 'DCG',
 'DCKate',
 'DF0501',
 'DHS',
 'DIogene',
 'DJKaatSkratch',
 'DJdelSur',
 'DKH',
 'DKIG',
 'DLStendez',
 'DONKEYKONG',
 'DPEPi',
 'DSElliott',
 'DUDES',
 'DWFW',
 'DaRkSaiYaN',
 'DaSmokeEater',
 'Daan8Jenneke',
 'Dade',
 'DaggisFeffe',
 'DailyPlanet',
 'Daisy2527',
 'DaisyR',
 'DaisyRose',
 'DakkaNathan',
 'Dallas9094',
 'DamianMeghan',
 'DamienThorn',
 'DanC',
 'DanJHarrison',
 'DanRaine',
 'DanSanchez',
 'DanYellisRaD',
 'DanaPrato2009',
 'DandeLyon',
 'Dandelion',
 'DaniGo',
 'Daniel1088',
 'Daniel132',
 'DanielDPeterson',
 'DanielKivari',
 'DanielLakstins',
 'DanielWMerrick',
 'DanielleCage',
 'Dannilion',
 'DannyNY',
 'DannySauter',
 'Darebakus7028',
 ...]

# Exercise 4
For each country, compute how many loans have involved that country as borrowers.

# Exercise 5
For each country, compute the overall amount of money borrowed.

In [3]:
loans = pd.read_csv('Data/loans.csv')

In [4]:
money_per_country = loans.groupby('country_name')['funded_amount'].sum()

In [21]:
money_per_country

country_name
Afghanistan        1964650.0
Albania            3992475.0
Armenia           20284675.0
Azerbaijan        14191350.0
Belize              150175.0
                     ...
Vietnam           23463825.0
Virgin Islands           0.0
Yemen              3340025.0
Zambia             1913250.0
Zimbabwe           5818550.0
Name: funded_amount, Length: 96, dtype: float64

# Exercise 6
Like the previous point, but expressed as a percentage of the overall amount lent.

In [24]:
loans[loans['funded_amount'] != loans['loan_amount']][['funded_amount','loan_amount']]
#Which one is which? I'll pick the lower one!

         funded_amount  loan_amount
22               100.0        225.0
25               225.0        300.0
36               425.0       1000.0
46               275.0        875.0
50               325.0       1200.0
...                ...          ...
1419525          125.0        225.0
1419538          600.0       3000.0
1419545          725.0       1025.0
1419564           50.0       8750.0
1419579          350.0        700.0

[64291 rows x 2 columns]

In [46]:
money_per_country_percentage = loans.groupby('country_name')['funded_amount'].sum() \
                             / loans.groupby('country_name')['loan_amount'].sum() * 100
money_per_country_percentage

country_name
Afghanistan        99.832313
Albania            92.689821
Armenia            88.384554
Azerbaijan         95.987216
Belize            100.000000
                     ...
Vietnam            95.067987
Virgin Islands      0.000000
Yemen              96.980981
Zambia             96.678836
Zimbabwe           99.430524
Length: 96, dtype: float64

# Exercise 7
Like the three previous points, but split for each year (with respect to disburse time).

In [25]:
loans['disburse_year'] = pd.to_datetime(loans['disburse_time']).dt.year

In [26]:
loans_per_nation_year = loans.groupby(['country_name','disburse_year']).count()
loans_per_nation_year

                            loan_id  loan_name  original_language  \
country_name disburse_year
Afghanistan  2007.0             408        408                408
             2008.0             370        369                369
             2009.0             678        614                614
             2010.0             632        291                291
             2011.0             247          0                  0
...                             ...        ...                ...
Zimbabwe     2013.0             426        388                388
             2014.0            2078       2029               2029
             2015.0             600        589                589
             2016.0             808        787                787
             2017.0            1079       1078               1078

                            description  description_translated  \
country_name disburse_year
Afghanistan  2007.0                 408                       0
             2008.0                 369                       0
             2009.0                 614                       0
             2010.0                 291                       0
             2011.0                   0                       0
...                                 ...                     ...
Zimbabwe     2013.0                 388                       0
             2014.0                2029                    2025
             2015.0                 589                     589
             2016.0                 787                     787
             2017.0                1078                    1078

                            funded_amount  loan_amount  status  activity_name  \
country_name disburse_year
Afghanistan  2007.0                   408          408     408            408
             2008.0                   370          370     370            370
             2009.0                   678          678     678            678
             2010.0                   632          632     632            632
             2011.0                   247          247     247            247
...                                   ...          ...     ...            ...
Zimbabwe     2013.0                   426          426     426            426
             2014.0                  2078         2078    2078           2078
             2015.0                   600          600     600            600
             2016.0                   808          808     808            808
             2017.0                  1079         1079    1079           1079

                            sector_name  ...  raised_time  lender_term  \
country_name disburse_year               ...
Afghanistan  2007.0                 408  ...          408          408
             2008.0                 370  ...          370          370
             2009.0                 678  ...          674          678
             2010.0                 632  ...          632          632
             2011.0                 247  ...          247          247
...                                 ...  ...          ...          ...
Zimbabwe     2013.0                 426  ...          426          426
             2014.0                2078  ...         2073         2078
             2015.0                 600  ...          599          600
             2016.0                 808  ...          807          808
             2017.0                1079  ...         1047         1079

                            num_lenders_total  num_journal_entries  \
country_name disburse_year
Afghanistan  2007.0                       408                  408
             2008.0                       370                  370
             2009.0                       678                  678
             2010.0                       632                  632
             2011.0                       247                  247
...                                       ...                  ...
Zimbabwe     2013.0                       426                  426
             2014.0                      2078                 2078
             2015.0                       600                  600
             2016.0                       808                  808
             2017.0                      1079                 1079

                            num_bulk_entries  tags  borrower_genders  \
country_name disburse_year
Afghanistan  2007.0                      408     4               408
             2008.0                      370     5               369
             2009.0                      678     1               614
             2010.0                      632     0               291
             2011.0                      247     0                 0
...                                      ...   ...               ...
Zimbabwe     2013.0                      426   157               388
             2014.0                     2078  1647              2029
             2015.0                      600   469               589
             2016.0                      808   725               787
             2017.0                     1079  1068              1078

                            borrower_pictured  repayment_interval  \
country_name disburse_year
Afghanistan  2007.0                       408                 408
             2008.0                       369                 370
             2009.0                       614                 678
             2010.0                       291                 632
             2011.0                         0                 247
...                                       ...                 ...
Zimbabwe     2013.0                       388                 426
             2014.0                      2029                2078
             2015.0                       589                 600
             2016.0                       787                 808
             2017.0                      1078                1079

                            distribution_model
country_name disburse_year
Afghanistan  2007.0                        408
             2008.0                        370
             2009.0                        678
             2010.0                        632
             2011.0                        247
...                                        ...
Zimbabwe     2013.0                        426
             2014.0                       2078
             2015.0                        600
             2016.0                        808
             2017.0                       1079

[748 rows x 30 columns]

In [24]:
money_per_country_year = loans.groupby(['country_name','disburse_year'])['funded_amount'].sum()
money_per_country_year

country_name  disburse_year
Afghanistan   2007.0            194975.0
              2008.0            365375.0
              2009.0            581825.0
              2010.0            563350.0
              2011.0            245125.0
                                 ...
Zimbabwe      2013.0            678525.0
              2014.0           1307975.0
              2015.0            723150.0
              2016.0            787550.0
              2017.0           1214125.0
Name: funded_amount, Length: 748, dtype: float64

In [27]:
money_per_country_percentage_year = loans.groupby(['country_name','disburse_year'])['funded_amount'].sum() \
                                  / loans.groupby(['country_name','disburse_year'])['loan_amount'].sum() * 100
money_per_country_percentage_year

country_name  disburse_year
Afghanistan   2007.0           100.000000
              2008.0           100.000000
              2009.0            99.436018
              2010.0           100.000000
              2011.0           100.000000
                                  ...
Zimbabwe      2013.0           100.000000
              2014.0            99.725521
              2015.0            99.934358
              2016.0            99.866853
              2017.0            98.103184
Length: 748, dtype: float64

# Exercise 8
For each lender, compute the overall amount of money lent.

In [31]:
norm = pd.read_csv('Data/norm_loan_lenders.csv')

In [197]:
temp = loans[['loan_id','loan_amount']].dropna()

In [198]:
loan_lenders['count'] = loan_lenders.apply(lambda row: len(row['lenders']),axis=1)
loan_lenders

         loan_id                                            lenders  count
0         483693  [muc888, sam4326, camaran3922, lachheb1865, re...     40
1         483738  [muc888, nora3555, williammanashi, barbara5610...     15
2         485000  [muc888, terrystl, richardandsusan8352, sherri...     15
3         486087  [muc888, james5068, rudi5955, daniel9859, don9...     13
4         534428  [muc888, niki3008, teresa9174, mike4896, david...     19
...          ...                                                ...    ...
1387427   678999  [michael43411218, carol5987, gooddogg1, chris4...     10
1387428  1207353  [rjhoward1986, jeffrey6870, trolltech4460, ely...      5
1387429  1206220  [vicky7746, gooddogg1, fairspirit, craig972996...     44
1387430  1206425  [rich6705, sergiiy9766, angela7509, barbara561...      8
1387431  1206486                            [alan5175, amy38101311]      2

[1387432 rows x 3 columns]

In [199]:
merged = pd.merge(temp,loan_lenders,on='loan_id')
merged['funded_divided'] = merged['loan_amount'] / merged['count']
merged

,loan_id,loan_amount,lenders,count,funded_divided
0,657307,125.0,"[spencer5657, matthew8640, larry71496105]",3,41.666667
1,657259,400.0,"[ltr, andrew5306, dana9865, WHYu, robert978452...",7,57.142857
2,658010,400.0,"[kathy3100, omar7511, amirali5409, bingo, geni...",14,28.571429
3,659347,625.0,"[jasonsamfield, mikaela2498, tim1351, rifath92...",17,36.764706
4,656933,425.0,"[john86857365, gooddogg1, daniel8458, anjae514...",14,30.357143
...,...,...,...,...,...
1387423,988180,400.0,"[joyce5432, douglas5957, michelle27516947, wak...",13,30.769231
1387424,988213,300.0,"[dqqpkh5136, gerald4889, peter2548, tatjanacha...",11,27.272727
1387425,989109,2425.0,"[ulrike5921, oakviewroberts, kenmwong, trudy32...",69,35.144928
1387426,989143,100.0,"[jack6206, david85674927]",2,50.000000
1387427,989240,175.0,"[jensdamsgaardvanar, david47598776, bernd9221,...",5,35.000000

In [200]:
funded_by_lender = {}
for i in range(len(merged)):
    for l in merged['lenders'][i]:
        funded_by_lender[l] = funded_by_lender.get(l, 0) + merged['funded_divided'][i]

In [201]:
funded_by_lender

{'spencer5657': 97526.10905924533,
 'matthew8640': 1691.4847243722643,
 'larry71496105': 1347.300354107596,
 'ltr': 123726.74328643092,
 'andrew5306': 266850.67267900123,
 'dana9865': 877983.3009160163,
 'WHYu': 127229.05531216953,
 'robert97845285': 4996.529282353091,
 'nanci4686': 13742.836820779903,
 'rita9769': 43069.38369945769,
 'kathy3100': 7794.61351315486,
 'omar7511': 27206.081394931436,
 'amirali5409': 1486428.0881265025,
 'bingo': 29724.94236881785,
 'genie1388': 50965.50997687432,
 'imranakram': 11281.859593625795,
 'nms': 4783928.396880653,
 'atif': 2587.6141181066814,
 'trolltech4460': 6068669.306375005,
 'chuihacarol7266': 100366.01632187642,
 'andrea4739': 3479.105861476887,
 'louise3724': 42738.01907151073,
 'zan2954': 15793.498015883142,
 'nimra9526': 7370.042290232634,
 'jasonsamfield': 132.4660633484163,
 'mikaela2498': 247.24124547179576,
 'tim1351': 43706.112382499196,
 'rifath9291': 25619.552407808183,
 'christopher4575': 9473.7189185618,
 'carie5799': 1333.3320675706454,
 'britta3852': 1629.8975967538672,
 'jeff1767': 3170.2680114483687,
 'jason2791': 1086.446051079651,
 'mark2348': 6346.130265460586,
 'anders3310': 1802.9468401332458,
 'phil3049': 4677.056417080343,
 'erik7367': 302.9639654642345,
 'paul8842': 9339.333347118181,
 'victoria8200': 1573.3776893668048,
 'brian5367': 125.98513598987982,
 'kyra9022': 602.1546926003132,
 'john86857365': 8477.406821828863,
 'gooddogg1': 8642501.900916629,
 'daniel8458': 37336.030112290144,
 'anjae5140': 3944.9065286954465,
 'darthbear': 73043.9234743148,
 'michelleandkristian9819': 270510.3184757425,
 'gill8487': 2012.914143724322,
 'kylee2685': 848.795001530394,
 'nathan8842': 10796.245368527232,
 'zinnia4568': 334.42353086176814,
 'celine1604': 30.357142857142858,
 'brian4363': 2706.575560640585,
 'dana3880': 1093.0984285189074,
 'william4485': 3373.4661905068556,
 'stephani8455': 1845.5175237140884,
 'marianne8123': 50.0,
 'josh6400': 499.98090998913364,
 'lushfan': 149862.98776796932,
 'liz5135': 148686.5213794246,
 'vivian9736': 221.55485215267825,
 'neil1680': 693.5081353993712,
 'amy6135': 229.12958773252893,
 'sara3234': 299.2019184322428,
 'Scatandstaff': 18894.235585440838,
 'chris61956776': 3437.6898139160858,
 'marian4716': 87039.3504196727,
 'fisherfamilypractice2328': 48725.54068235676,
 'robert1539': 859.9206179845473,
 'hamish5820': 79681.52154522183,
 'rene1976': 453.8849057980491,
 'richard5463': 7434.350007942557,
 'tamino1203': 648.2795203356878,
 'cindy6714': 45020.396179958996,
 'andrew2335': 6962.483273186467,
 'carolyn33289322': 192.06730040063374,
 'al4478': 7892.724373785005,
 'danny7336': 531.1737305487305,
 'della3623': 11758.72922459515,
 'markmarcela5336': 2713.752156004131,
 'thomas53607706': 8297.100970815547,
 'calandra3107': 103.97233201581028,
 'andre6084': 110758.7159198534,
 'richard7449': 247692.1553161168,
 'mojiva': 36880.58533429414,
 'yingnanliao': 19375.111407191453,
 'javier6318': 14751.123757998554,
 'chris5927': 23185.255240246992,
 'roger4338': 67011.7361400524,
 'afalk': 69423.55927959255,
 'caspar2154': 58557.32620180133,
 'jane7466': 2785.333534198229,
 'rachel8391': 1639.200137200511,
 'karin3397': 9309.109006579542,
 'gwenevere2845': 5896.638091915277,
 'aaron1986': 1898.5124682873047,
 'thierry8170': 845553.3466838974,
 'phillip2456': 613.0035876156871,
 'michael1110': 3488.525840296929,
 'denise6312': 48977.2568692732,
 'annette4727': 1994.9265593476177,
 'june4303': 1321.5412418799174,
 'thani9091': 51832.633505946826,
 'andres3664': 48060.58303239038,
 'john97037147': 9917.9308637221,
 'liz7291': 2026.3270150039814,
 'brendakae1296': 514.5863149605741,
 'carl3105': 18190.420508609073,
 'terryandrita7127': 3111.43546251831,
 'jason3813': 1804.8839641724908,
 'alyssa4693': 3713.164600766019,
 'magnus6226': 367.62828593913014,
 'alex48976714': 4398.897983596018,
 'richardandterri9220': 1235.1352638665694,
 'christian6619': 40747.79066164582,
 'scott80898648': 237.99095065429003,
 'annie3675': 73.16793893129771,
 'srinivas1947': 3298.740914092626,
 'themissionbeltco': 3904706.1680126176,
 'christina2027': 7599.204681321152,
 'tieres8084': 24219.7861940588,
 'nadia7734': 7669.2138157337295,
 'amandaandjames6424': 4596.12973394424,
 'gord2563': 2130.996172390921,
 'bill7866': 8811.731696511097,
 'lawrence3513': 16166.823568709326,
 'bruce4939': 13255.663362627567,
 'mraman': 10665.362136818832,
 'david7683': 215819.69293933143,
 'sue9281': 2132.5722079834327,
 'natalie3983': 134011.70880698325,
 'gerard4776': 16971.086384840975,
 'sharka1531': 3107.441435308044,
 'phil9458': 3604.1800909609265,
 'grgory3588': 1567.337696901818,
 'laura4759': 43820.5811538999,
 'christina5452': 4723.797642947096,
 'rick1522': 11790.820489749087,
 'bernhard8114': 30908.559969923746,
 'jean5251': 3870.673411765083,
 'leslie6023': 268.9918414918415,
 'danielbryantuk': 99369.10261769683,
 'mlittlehalemaccom6410': 10864.169706347811,
 'eivind': 75564.83759137127,
 'nancy76408929': 1931.3854710160429,
 'kaylene2404': 87091.48782445151,
 'laura7096': 1024.7946297237945,
 'doug9822': 62422.96690442201,
 'anjo4530': 2523.028501260062,
 'peggy2680': 6960.838359361316,
 'palombarini1925': 952.0876952300728,
 'doug1484': 2306.783939221376,
 'sonia1104': 9675.283735993477,
 'nycjacob': 3364.6834617874583,
 'bob4446': 3356.161111302183,
 'hellehaubo3480': 13623.911672291908,
 'steffenschwark': 10194.297347234879,
 'sheila9155': 225890.71419010015,
 'rachel3147': 731.9473897465205,
 'alex5408': 4397.197457623674,
 'andrew8575': 339425.14561380906,
 'jon9875': 290106.9645735867,
 'joe5914': 345026.0026020501,
 'jennifer12739848': 87.30434782608695,
 'mrfischels6thgradecl1616': 3895.2227957261116,
 'gretchen9156': 566.5165089198769,
 'roger9132': 5699.515720815899,
 'barbara2748': 3673.8043484218083,
 'harriet6608': 884.1470343949954,
 'globaljusticecommitt4297': 128990.15730854096,
 'beaza': 20277.13573206538,
 'nancy5652': 14438.438321262116,
 'paula46508434': 291.05528270559137,
 'melissa9126': 809.7948038133895,
 'becky2175': 1538.0444249789302,
 'amy1842': 461.60660854985935,
 'bonnie52851070': 467.43211527035055,
 'tina48638076': 4724.223868987479,
 'hughns': 10657.69548315036,
 'anton9118': 25372.02257832001,
 'jannie1166': 629.5632312170653,
 'ketil8573': 58300.92386348702,
 'mikeambertaylor2511': 252.34621924926154,
 'tanguy8653': 73.21924144310823,
 'anthonyrosborough': 289.6878234989648,
 'dan22471907': 3259.497206700302,
 'elroy9948': 3418.4403778063174,
 'antoine5746': 64283.48040585393,
 'max7775': 1053.1300625388087,
 'jane4355': 929.1483925692796,
 'mhwee': 2552.093446040937,
 'margaret9218': 795.1268403691806,
 'jamie6719': 1199.3471719143242,
 'jennifer5032': 1030.871643349169,
 'shamsuddin': 3933.0658837120145,
 'beachmoney': 168631.8928756987,
 'gwenyth2689': 409.83956558438007,
 'rosanna7900': 3565.3721864075846,
 'kosta': 4574.1813727312265,
 'linda3476': 17510.974650325723,
 'nate1587': 2829.381055186182,
 'roy93953456': 4335.756901395741,
 'john26764423': 1291.370915951683,
 'michael6366': 634.0166553675206,
 'drjoejohnson': 874744.7736802673,
 'jenny9577': 265.2941396376469,
 'linda23327013': 614.8759288097524,
 'suketu9314': 5122.499284528303,
 'brian5347': 10265.169070757347,
 'sandra81938693': 5822.870608736635,
 'michael2742': 3021.494165534685,
 'maria5393': 96.46586345381527,
 'peter3498': 1541.0757862155658,
 'anali4187': 163.4920634920635,
 'oakviewroberts': 212794.01810483524,
 'michael11378886': 15783.900358187848,
 'jongraelee': 6776.002114686217,
 'fadi3664': 7334.708232193742,
 'amazinggrace5317': 4615.665691469855,
 'kim8007': 344642.97407140856,
 'shabbir1418': 6923.413009395113,
 'EGL': 174652.56501499165,
 'pierre6562': 76856.64186945939,
 'valerie4062': 304.4343559495556,
 'dps': 665825.6654183784,
 'dennis8832': 335.9301772788615,
 'blanca3296': 28.125,
 'ramon9524': 637.5303427097872,
 'boris1602': 521.4218121476196,
 'darrin9120': 400.02909072842374,
 'nathan5398': 116.97408326440583,
 'karolina2647': 131.3925729442971,
 'steven58752351': 295.4753575794318,
 'ron3076': 238.2429444960045,
 'jimmy30359902': 38.46153846153846,
 'david6215': 2751.8125575347112,
 'steve1239': 347.5647500964276,
 'cassidy7911': 4377.953794124516,
 'joe6018': 254.20296916198555,
 'tom9053': 4065.458092039433,
 'rickj7697': 78.16742081447964,
 'filipe9909': 455.1419579515841,
 'patricia13953186': 339.505998264092,
 'rsmdai9148': 9325.938700775321,
 'gisele3914': 10132.79093398898,
 'daniel82913401': 72.83653846153845,
 'craig8856': 102.8293545534925,
 'mark91448427': 90.64600448095594,
 'mariela4912': 358.46927649129606,
 'julio3392': 73.98785425101215,
 'olsonmiddleschool6735': 865.849189552203,
 'mike8365': 63.46153846153846,
 'lindsay3883': 439.5272432167914,
 'alejandra2077': 131.68706293706293,
 'eva9695': 48150.7312880087,
 'stephen38282161': 84.75783475783476,
 'hannah6031': 196.79181929181925,
 'alberto2453': 379.2312238978061,
 'andrew4131': 38.46153846153846,
 'geoffrey8659': 326.4132326920592,
 'antonio2528': 144.91001416811196,
 'marco2455': 3101.297656576026,
 'kathryn5171': 99.82517482517483,
 'joel7273': 69.71153846153845,
 'markhp': 416.62305942632156,
 'joyce6172': 1236.7937679244305,
 'vincent4124': 11042.553147038694,
 'renin2304': 7184.041157162073,
 'mary20794994': 664.1426197860025,
 'timon3282': 23177.001166648577,
 'anjayves': 109722.61214867201,
 'jasdeep3244': 42693.832951251636,
 'doug7954': 3919.568610231596,
 'daniel9859': 96144.41857218744,
 'atb': 3064.6724970461432,
 'william7215': 352547.7653123799,
 'jason5562': 6039.330350752437,
 'laurence5353': 924682.8293356553,
 'jeff55543167': 2462.812263956969,
 'joinfite3429': 745031.8397699968,
 'whskiva': 14119.264027276675,
 'barbara5610': 2654839.018201319,
 'oakview1477': 134277.07121168156,
 'marc7646': 56985.81514572333,
 'vicki2884': 34255.16549077976,
 'griffin8127': 1404.9890961031958,
 'john37481062': 682800.9663692018,
 'nicholas9502': 1153.7083937941711,
 'shinemurat5100': 77738.80869824029,
 'jill49195097': 2544.8857697238136,
 'megan6065': 668.9221229136496,
 'joymwhyte': 147837.7670351268,
 'neil7164': 7537.039749425755,
 'mara5431': 894.9415949082181,
 'sandy6289': 26614.543661168515,
 'sidledes': 179611.74966256268,
 'andrew2560': 7230.286123258001,
 'ngawchee6402': 170236.47691938828,
 'moonhouse': 698.2478217390449,
 'carterandkenan6371': 365.32718724562557,
 'shirley1905': 2106120.057647684,
 'elias4241': 1326775.0833416954,
 'carol3509': 4789.631094631873,
 'wildaboutgood': 23994.40730186223,
 'martin9040': 4994.9885251116675,
 'denise31001540': 87475.36693352505,
 'daniel4923': 1840.8757116587826,
 'marcia4508': 15234.51754618481,
 'hgpublishing': 4797.459390020695,
 'irene6667': 25856.702144592033,
 'clayton7025': 1514.4862203523442,
 'vicky7746': 591210.1272247757,
 'sabine1452': 27285.79263052694,
 'jouko1940': 4749893.595980353,
 'story7075': 1724.5859245869162,
 'cynthia4680': 2517.942451412996,
 'james9209': 1054.3056676958252,
 'alice7297': 9075.24268309194,
 'joinFITE': 1578783.8417970384,
 'emma4393': 6470.952000894471,
 'lidia5529': 1619964.894929441,
 'andrew5927': 10726.142452122314,
 'rebecca4080': 15167.462577841452,
 'am8748': 1238575.164228633,
 'nancysomers': 328114.130214532,
 'yousaf9433': 34905.22413062933,
 'marcojessa': 1735.8978993166186,
 'lauren3733': 449.07578560779774,
 'heather7404': 2006.4375801472647,
 'tom5695': 9494.204671629337,
 'jangoyvaerts': 494202.18390135677,
 'charles88': 612.2612197166666,
 'howard4754': 429551.84364221257,
 'anne9124': 138922.83176289804,
 'fulvia7515': 4417.843304667322,
 'james8688': 146463.69893748683,
 'luna3355': 1607.8521832926933,
 'timo3087': 39295.162237498604,
 'pr9323': 6781.069935547121,
 'claudio9326': 2772.4659832452817,
 'susan44999742': 13012.640488319234,
 'klaus8581': 10788.8105148632,
 'malin5902': 1800.9740903923807,
 'harry9633': 271.77204337879976,
 'a4agarwal': 10092.10618551356,
 'brennanfamily4713': 4176.550524845064,
 'kate9425': 6505.2578955419185,
 'julie69006467': 10214.759029468745,
 'andre36396501': 9798.845138662584,
 'robert23193326': 1558.301924898561,
 'david42635853': 12277.417490794965,
 'rohan1139': 15450.889981821274,
 'jarrodahenbest': 11205.7138147132,
 'daniel3780': 24544.575960301117,
 'nickjhowe': 342511.209208348,
 'dermalogicafiteusa5776': 143567.94280307292,
 'kimberly7239': 4973.488304367341,
 'werner3833': 15832.860042791046,
 'greg7444': 785.0122675462273,
 'konrad2011': 2076.6590745113685,
 'elizabeth8952': 1577.9957778919754,
 'rob24661904': 5953.880006105818,
 'larry4426': 17997.96394279482,
 'utsadarrell': 37799.50690234052,
 'laurie62967443': 1236.6330484256853,
 'merrie6827': 593063.4649909864,
 'janandresen': 276645.62950901705,
 'johnw9830': 8210.882164075496,
 'roger1977': 308020.90039739036,
 'carolyn6620': 875.9745840740334,
 'andrea2174': 248465.6162354391,
 'jan7057': 8657.777062652502,
 'emily5933': 57.380254154447705,
 'janet5836': 89775.41595812714,
 'rita1380': 520.7432408235926,
 'zane9551': 396806.3284753999,
 'demmyhonore': 12296.386267835782,
 'winnie2014': 2438.7485532117935,
 'pamela8373': 180.8898069143971,
 'arlette2638': 29102.230167213384,
 'mary4670': 18930.00362442087,
 'lars6753': 26485.284663797618,
 'stephenandmimi1481': 890363.2661888024,
 'allan4732': 67733.58367966262,
 'angel9583': 25466.576391575825,
 'barbara54156167': 7213.738688733886,
 'wayne7598': 36856.92510835544,
 'martin9873': 11205.459077860496,
 'vandersa7420': 1946.2836687585539,
 'bryan5504': 447322.2651719317,
 'thomas8333': 25184.186176555293,
 'koinonia6101': 2178.556108056988,
 'daan3838': 29830.34668987365,
 'edward8465': 464.0197764928133,
 'nikstin': 3869.85040837682,
 'saphiroth9756': 4771.141720647442,
 'microtom': 19403.52940338183,
 'louis1975': 2135.426387041338,
 'brandon4855': 51.13636363636363,
 'geekrocket': 40001.735748620406,
 'sharon4975': 6591.823864116458,
 'cubbage': 20837.504458803156,
 'alexander6538': 719.009309976044,
 'rick3787': 54395.770287824154,
 'bookwormservice': 21003.728828870728,
 'awt': 15077.50635045481,
 'ross4045': 1125.3678993543792,
 'megan4779': 48713.404780232326,
 'kenneth2840': 66677.4608366242,
 'gaelle1450': 1616.928751767376,
 'audrey9441': 3438.993481335019,
 'verena9082': 5047.995773423693,
 'erling8554': 9426.575639861778,
 'mohammed2624': 9215.136761020764,
 'shannon8854': 673.5256276049441,
 'lui9028': 6196.666624206527,
 'jacob9935': 157.42201347040057,
 'yxes': 12306.269710252764,
 'audrey8566': 3853.581739806408,
 'abdulaziz6920': 533.8352633323861,
 'cindy7872': 28160.51010137677,
 'suzanne1142': 592.4889013322844,
 'ron5498': 67992.73642435088,
 'bridalresources': 43221.2758866634,
 'genevieve1882': 5741.076035314008,
 'marco5449': 952.9249151135065,
 'windermereunion6071': 117454.30966992174,
 'cruud': 1553.8569149200605,
 'jeanne6240': 625.7860121098335,
 'robert7045': 6584.614821942605,
 'chris6320': 35159.629841221926,
 'melissa5574': 6292.529646413326,
 'dudley5288': 5319.016728945466,
 'HP2469': 3400.745579633028,
 'christoph7086': 26690.506751281202,
 'michele1873': 2829.9137446930436,
 'holly5372': 801.715639513235,
 'liby7123': 1501.572102894185,
 'sherry5799': 50401.622549775304,
 'ariane8159': 12303.541208626546,
 'kelsey5212': 638.2491102624185,
 'tina2078': 29681.34560096566,
 'sterling9025': 485.72731530302275,
 'lynda4794': 1503.1211707353007,
 'timothy7790': 16087.801958305221,
 'heatherbob2227': 3425.06689808533,
 'pasi5517': 1204.7395715792265,
 'grahamandkristin': 1211.8860435762422,
 'erik9471': 832.6038486197114,
 'sandra68439536': 206.16551405251093,
 'robert4018': 15111.237976733084,
 'caleb9703': 138303.02032540136,
 'mike001': 1149860.3239522774,
 'lkbm': 432527.463497737,
 'judith5696': 1286639.5688268517,
 'FrequentMiler': 571060.4375957203,
 'jennifer55049030': 3703.4852356731117,
 'harrir': 33661.04916810286,
 'john50766975': 7758.506976054988,
 'mattandkristan': 9783.83340702929,
 'peggy3265': 473.49849754992226,
 'christian3174': 7237.529350102573,
 'edwin5972': 7030.966635924771,
 'pedrocampos3388': 1501.0166453736235,
 'carol6638': 31011.172835310885,
 'elissa7306': 402.72008972279866,
 'lindsay5441': 30608.919732384453,
 'bryan1553': 119042.2342880435,
 'john4794': 149790.27868223563,
 'james3392': 2498.2608806099965,
 'carly89501912': 205.9967320261438,
 'jesse3178': 910.1224212668925,
 'kristin8925': 3375.592156464896,
 'dhian9408': 462.812945006346,
 'john31676093': 463.6160461373341,
 'isa247': 30505.684526383517,
 'jennifer80648418': 2587.1212161035887,
 'doug4492': 438.05479008049383,
 'melea4729': 3969.187898495835,
 'matthew56392942': 359.9831895668577,
 'ian4171': 563.6152612358741,
 'harold4370': 643.2657001204152,
 'amj': 2453.611845246759,
 'susan5570': 7435.245598548762,
 'kevin7282': 3802.254818285438,
 'matt2954': 8223.901257289372,
 'avivaanddavid9794': 18273.976611308746,
 'simon1158': 135182.8357524968,
 'mary82232993': 3278.421535779301,
 'abhijit3242': 698.5558276409794,
 'sarahmckinley8349': 202.8202548625084,
 'rjhoward1986': 1936217.6935569232,
 'rod7133': 12279.056555273619,
 'justm1252': 2185.156716767034,
 'callie3786': 104.5070806100218,
 'michael34186661': 2919.435301988679,
 'berliner': 693527.4007862381,
 'om4632': 262.4291041124655,
 'jannie5067': 1573.4055066432527,
 'ilona4282': 4690.6665979447525,
 'susanne3341': 50420.94320874004,
 'michael14598672': 273954.87713418325,
 'stevenandellie6301': 3040.8581535150774,
 'kerryn7502': 3164.737265304471,
 'justin2184': 2019.70776392063,
 'victoriamicrolendi1164': 96687.5487691352,
 'grundfund3520': 13902.551788839437,
 'monica2451': 62143.69815975383,
 'tarah4010': 203.11904202059847,
 'marcy': 8736.1819229496,
 'chris3898': 53634.045707650395,
 'bryan7067': 4763.6819215035775,
 'simontaylor007': 2903.948552566573,
 'harold7309': 4245.861226883312,
 'alastair3814': 2115.1636547091803,
 'hans74373006': 4236.665075832516,
 'kerstin1945': 9631.648342945604,
 'ingrid9941': 134090.0999066701,
 'arjanenfroukje5510': 3456.1344354309067,
 'juliettetacq': 3112.783024973587,
 'maria9877': 918.6994011784192,
 'susan77942672': 1104.8063505219834,
 'thomas1023': 5964.647306640545,
 'katie4192': 516.1720146051132,
 'keviej': 748.0361736142238,
 'timothy7699': 5419.586298439521,
 'lynne4163': 693.1670800395956,
 'john2847': 2016.8174065197372,
 'laurence4295': 11972.458325292762,
 'cecil1239': 16551.730951712572,
 'soren7351': 10058.798041431493,
 'anila8851': 14640.827058636696,
 'chris3340': 4354.739682391335,
 'janet5615': 6809.402508220962,
 'sarah4342': 1105.17380359444,
 'judy5972': 105109.10395006552,
 'iolaire': 340977.2367637113,
 'bob4739': 4475362.626922528,
 'aisk': 236166.18936336643,
 'maurizio2340': 29169.3868009787,
 'lena1344': 98823.45656318714,
 'martha9969': 352968.9155539046,
 'ishaque2263': 16732.50870386736,
 'kerstin2775': 27949.57971335218,
 'jennifer3940': 25341.34558358916,
 'angela50046032': 999.8772152226321,
 'susan34465133': 1019.2821196833777,
 'john61748290': 40917.867531833064,
 'antag': 68947.8643065386,
 'polinet': 338968.0501102563,
 'dietmar1845': 33215.085254866426,
 'michael9717': 10751.032462472216,
 'robert79414986': 3461.211139070781,
 'AndAboutTimeToo': 54927.61688918867,
 'steve6803': 50073.63609649196,
 'matthew5935': 20712.044773296915,
 'helene1903': 2633.5116697839353,
 'wesley7260': 7343.3950932413145,
 'julie4679': 11044.068779082154,
 'sunil8930': 104427.14056267026,
 'toepfer': 4028.597938149942,
 'gordon6551': 6972.939729011521,
 'carol3892': 347441.0750671143,
 'schaschon': 189140.6411280908,
 'r3922': 363641.3863325773,
 'jensdamsgaardvanar': 324496.9125815347,
 'shree8053': 380366.43216936995,
 'scottleibrand': 111288.01881677585,
 'alaia4564': 5526.0195434953885,
 '94704': 221496.79602893823,
 'accoppell': 13071.250102127511,
 'dennislin': 91053.11124249581,
 'morten9692': 147596.38366870352,
 'andressastre': 53782.655815402206,
 'vic5854': 78563.11338263602,
 'max5129': 344757.84213833243,
 'shyamthimmaiah': 58431.75143476048,
 'kazuto': 43046.79091971424,
 'martin3077': 35.59322033898305,

# Exercise 9
For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

In [ ]:
lenders = pd.read_csv('Data\lenders.csv')
lenders

In [202]:
received_country = loans.groupby('country_code').sum()['loan_amount']
received_country

country_code
AF     1967950.0
AL     4307350.0
AM    22950475.0
AZ    14784625.0
BA      477250.0
         ...
XK     3083025.0
YE     3444000.0
ZA     1006525.0
ZM     1978975.0
ZW     5851875.0
Name: loan_amount, Length: 95, dtype: float64

In [203]:
funded_by_lenders_df = pd.DataFrame.from_dict(funded_by_lender,orient='index',columns = ['funded_amount'])
funded_by_lenders_df['lenders'] = funded_by_lenders_df.index

In [204]:
funded_by_lenders_df

                     funded_amount              lenders
spencer5657           97526.109059          spencer5657
matthew8640            1691.484724          matthew8640
larry71496105          1347.300354        larry71496105
ltr                  123726.743286                  ltr
andrew5306           266850.672679           andrew5306
...                            ...                  ...
sunderthennavan8145      32.843137  sunderthennavan8145
chris59215483            62.215909        chris59215483
brooke7793               62.215909           brooke7793
michael46357863         176.470588      michael46357863
calum8552                35.144928            calum8552

[1383799 rows x 2 columns]

In [205]:
lenders_country = pd.merge(lenders[['permanent_name','country_code']],funded_by_lenders_df,left_on = 'permanent_name',right_on = 'lenders')
lenders_country.dropna().head()

       permanent_name country_code  funded_amount            lenders
11         naresh2074           US      97.143665         naresh2074
25  christina27976796           US      41.666667  christina27976796
31          vikas1098           IN      91.666667          vikas1098
33           qian1385           US      71.825397           qian1385
38   prathapkiran5174           US      90.678524   prathapkiran5174

In [234]:
a = (lenders_country.dropna().groupby('country_code').count()/len(lenders_country.dropna()))['lenders']

In [271]:
c = list(a.index)
p = list(a.values)

In [295]:
x = pd.Series(np.random.choice(c, len(lenders_country[lenders_country['country_code'].isnull()]), True, p))

In [318]:
keys = list(lenders_country[lenders_country['country_code'].isnull()].index)
values = list(x)

In [321]:
lenders_country['country_code'] = lenders_country['country_code'].fillna(dict(zip(keys,values)))

In [323]:
borrowed_country = lenders_country.groupby('country_code').sum()['funded_amount']
borrowed_country

country_code
AD    5.454229e+03
AE    1.923167e+06
AF    1.315172e+05
AG    7.818375e+03
AI    3.350203e+02
          ...
YE    3.671211e+04
YT    1.715191e+02
ZA    9.119237e+05
ZM    3.650342e+04
ZW    9.351374e+03
Name: funded_amount, Length: 225, dtype: float64

In [333]:
diff_borrow_lent = received_country - borrowed_country
diff_borrow_lent.dropna()

country_code
AF    1.836433e+06
AL    4.293302e+06
AM    2.291464e+07
AZ    1.477465e+07
BA    4.061806e+05
          ...
XK    3.069581e+06
YE    3.407288e+06
ZA    9.460132e+04
ZM    1.942472e+06
ZW    5.842524e+06
Length: 92, dtype: float64

# Exercise 10
Which country has the highest ratio between the difference computed at the previous point and the population?

In [334]:
countries = pd.read_csv('Data\country_stats.csv')
countries

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
0,India,IN,IND,Asia,Southern Asia,1339180127,21.9,0.623559,68.322,11.696590,6.298834,5663.474799,India
1,Nigeria,NG,NGA,Africa,Western Africa,190886311,70.0,0.527105,53.057,9.970482,6.000000,5442.901264,Nigeria
2,Mexico,MX,MEX,Americas,Central America,129163276,46.2,0.761683,76.972,13.299090,8.554985,16383.106680,Mexico
3,Pakistan,PK,PAK,Asia,Southern Asia,197015955,29.5,0.550354,66.365,8.106910,5.089460,5031.173074,Pakistan
4,Bangladesh,BD,BGD,Asia,Southern Asia,164669751,31.5,0.578824,71.985,10.178706,5.241577,3341.490722,Bangladesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Somalia,SO,SOM,Africa,Eastern Africa,14742523,NaN,NaN,NaN,NaN,NaN,NaN,Somalia
170,Central African Republic,CF,CAF,Africa,Middle Africa,4659080,NaN,0.352440,51.458,7.098980,4.230000,587.473961,Central African Republic
171,Samoa,WS,WSM,Oceania,Polynesia,196440,NaN,0.702000,NaN,NaN,NaN,NaN,Samoa
172,Palestine,PS,PS,Asia,Western Asia,4920724,NaN,0.677000,NaN,NaN,NaN,NaN,Palestine
173,Kosovo,XK,NaN,Europe,Southern Europe,1895250,30.0,0.786000,NaN,NaN,NaN,NaN,Kosovo

In [335]:
diff_df = diff_borrow_lent.to_frame()
diff_df.columns = ['diff']

In [336]:
pop_diff = pd.merge(diff_df,countries[['country_name','country_code','population','population_below_poverty_line']],left_index = True,right_on = 'country_code')
pop_diff['ratio'] = pop_diff['diff']/pop_diff['population']
pop_diff.loc[pop_diff['ratio'].idxmax()]

diff                             1.22112e+07
country_name                           Samoa
country_code                              WS
population                            196440
population_below_poverty_line            NaN
ratio                                62.1624
Name: 171, dtype: object

# Exercise 11
Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

In [337]:
countries.sort_values(by =['country_code'])[['country_code','population']]

    country_code  population
87            AE     9400145
28            AF    35530081
131           AL     2930187
109           AM     2930450
29            AO    29784193
..           ...         ...
19            YE    28250420
41            ZA    56717156
34            ZM    17094130
30            ZW    16529904
115          NaN     2533794

[174 rows x 2 columns]

In [338]:
pop_diff['ratio_not_poor'] = pop_diff['diff']/((100-pop_diff['population_below_poverty_line'])*pop_diff['population']/100)
pop_diff.loc[pop_diff['ratio_not_poor'].idxmax()]

diff                             2.29146e+07
country_name                         Armenia
country_code                              AM
population                           2930450
population_below_poverty_line             32
ratio                                 7.8195
ratio_not_poor                       11.4993
Name: 109, dtype: object

# Exercise 12
For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.

# Exercise 13
For each value of repayment_interval, add a new column to the lenders dataframe that contains the total amount of money corresponding to loans in such state

# Exercise 14
What is the occupation with the highest average amount of money lent (the average must be computed over all lenders with a given occupation)?

# Exercise 15
Cluster the loans according to the year-month of disburse time.

# Exercise 16
For each country, compute its overall GDP, by multiplying the per capita GDP with its population.

# Exercise 17
Find the country with the highest rate of irregular repayment interval.

# Exercise 18
Find the country with the highest fraction of loaned amount with irregular repayment interval.

# Exercise 19
For each lender, estimate the total amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.